<div>
    <div class="form-control">
    <form action="/coins?algorithm=" method="post">
        <label for="algo">Coins by algorithm</label>
        <input type="text" name="algo" id="algoInput">
        <button class="btn" type="submit" >Search by algorithm</button>
    </form>
    </div>
    <div class="form-control">
    <form action="/coins?symbol=" method="post">
        <label for="symbols">Coins by symbols</label>
        <input type="text" name="symbols" id="symbolsInput">
        <button class="btn" type="submit" >Search by symbols</button>
    </form>
    </div>
    <div class="form-control">
    <form action="/coins/" method="post">
        <label for="symbol">Specific Coin by symbol</label>
        <input type="text" name="symbol" id="symbolInput" >
        <button class="btn" type="submit" >Search by symbol</button>
    </form>
    </div>

</div>

