<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
            <div class="form-control">
                <form action="/cachettl" method="post">
                    <label for="cachettlUpdate">update cachettl</label>
                    <input type="text" name="cachettlUpdate" id="cachettlInput" >
                    <button class="btn" type="submit" >cachettl</button>
                </form>
                </div>
    </main>
<%- include('../includes/end.ejs') %>